*~
build*/
.*
!.git*
!.mailmap
.git/
*.tar.*
*.kdev4
*.kate-swp
*.orig
tags
astyle.sh
cscope.*
*.part
*.aux
*.out
*.log
*.nav
*.snm
*.glo
*.ist
*.toc
*.vrb
*.bbl
*.blg
*.pre
__pycache__/
*.pyc
*.pya
*.fdb_latexmk
*.table
*.gnuplot
*.db
